@model IEnumerable<BSKv5.Models.Officer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ofName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ofEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ofPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ofName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ofEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ofPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ofID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ofID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ofID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
